*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  background-color: rgb(36, 33, 33);
  overflow: hidden;
}

.visual-space{
  position: relative;
  background-color: rgb(64, 68, 67);
  height: 100vh;
  min-width: 97vw;
  padding: 40px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.node{
  position: relative;
  width: 54px;
  height: 54px;
  margin-right: 50px;
}

.node-content{
  position: absolute;
  z-index: 1;
  width: 54px;
  height: 54px;
  border-radius: 30%;
  text-align: center;
}

.arrow{
  position: relative;
  z-index: 0;
}

.row{
  position: relative;
  height: 40px;
  display: flex;
  margin-bottom: 70px;
}

.left-right{
  flex-direction: row;
}

.right-left{
  flex-direction: row-reverse;
  transform: translateX(50px);
}

.content, .size-container{
  display: flex;
  flex-direction: row;
}

.size-container{
  align-items: center;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  column-gap: 4px;
  padding: 5px;
  z-index: 2;
  width: 70px;
  height: 30px;
  opacity: 0.2;
  background-color: rgb(0, 0, 0);
  user-select: none;
  transition: opacity 0.3s;
}

#size{
  color: rgb(0, 255, 0);
  font-size: 18px;
}

.size-container:hover{
  opacity: 0.8;
}

.pop-up{
  display: flex;
  position: relative;
  width: 100px;
  height: max-content;
  background-color: rgb(186, 199, 186);
  z-index: 3;
  border-radius: 5px;
  top: 50px;
  transform: translate(-16px, -50px) scale(0.5, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 1.2s;
  padding: 5px;
}

.pop-up-arrow{
  position: absolute;
  background-color:rgb(186, 199, 186);
  z-index: -1;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  top: -10px;
  left: 20px;
}

.pop{
  pointer-events: all;
  transform: translate(-16px, 0px) scale(1, 1);
  opacity: 1;
}

.above{
  z-index: 10;
}

.pop-up-content{
  display: flex;
  flex-direction: column;
  row-gap: 3px;
  width: 100%;
}

.add-head{
  width: 54px;
  height: 54px;
  background-color: rgba(179, 125, 92, 0.63);
  padding: 4px;
  border: 2px rgb(65, 63, 63) dotted;
  border-radius: 20%;
}

.temp-input-field{
  position: absolute;
  outline: none;
  border: 0;
  width: 42px;
  z-index: 1;
  border-radius: 5px;
  padding: 1px;
  transition: all 0.3s;
  background-color: rgb(214, 152, 93);
  opacity: 0.4;
  color: white;
}

.temp-input-field::placeholder{
  color: rgba(255, 255, 255, 0.547);
}

.plus{
  position: absolute;
  user-select: none;
  display: inline;
  left: 27px;
  top: 35px;
  font-size: 56px;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  transition: all 0.3s;
  opacity: 0.4;
}

.plus:hover, .temp-input-field:hover{
  opacity: 1;
}

.temp-input-field:focus{
  opacity: 1;
}

